@model IMIC.BUSINESSOBJECTS.EntityObject.SafeDetail_Object

@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="portlet-body">

    @using (Html.BeginForm("Edit", "SafeDetail", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Chi tiết An toàn</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group hidden">
                    @Html.LabelFor(model => model.SafeDetailId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SafeDetailId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SafeDetailId, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                @Html.Label("Bài viết", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Danh mục An toàn", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SafeCategoryId, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SafeCategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Cho phép", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Applyed, new List<SelectListItem>
                    {
                        new SelectListItem{Text = "Có",Value = "true"},
                        new SelectListItem{Text = "Không",Value = "false"}
                    }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Applyed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Trạng thái xóa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IsDeleted, new List<SelectListItem>
                    {
                        new SelectListItem{Text = "Không",Value = "false"},
                        new SelectListItem{Text = "Có",Value = "true"}
                    }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cập nhật" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Về trang Chi tiết", "Index")
    </div>
</div>