@model IEnumerable<IMIC.BUSINESSOBJECTS.EntityObject.UtilitiesDetail_Object>

@{
    ViewBag.Title = "Chi tiết Tiện ích";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section script_footer
{
    <script src="~/Areas/Admin/Content/assets/global/scripts/customer_design.js"></script>
    <script>
        $('.btn-delete').click(function() {
            var id = $(this).data('id');
            action.deleteObject(id, '@Url.Action("Delete", "UtilitiesDetail")');
        });

        $('.img-applyed').on('click', function () {
            var id = $(this).data('id');
            action.updateStatus(1, id, '@Url.Action("UpdateStatus", "UtilitiesDetail")');
        });

        $('.txt-isdeleted').on('click', function () {
            var id = $(this).data('id');
            action.updateStatus(2, id, '@Url.Action("UpdateStatus", "UtilitiesDetail")');
        });
        TableAdvanced.init();
    </script>
}


<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box green-haze">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>Chi tiết Tiện ích
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div style="padding-bottom:10px;">
            <a class="btn btn-primary btn-sm green-haze" style="margin-top:10px;" href="@Url.Action("Create", "UtilitiesDetail")">
                Thêm mới
                <span class="fa fa-plus" style="padding-left:6px;"></span>
            </a>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_2">
            <thead>
                <tr>
                    <th>
                        Tên bài đăng
                    </th>
                    <th>
                        Tên tiện ích
                    </th>
                    <th>
                        Cho phép hiển thị
                    </th>
                    <th>
                        Trạng thái xóa
                    </th>
                    <th style="width: 210px">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UtilitiesCategoryObject.UtilitiesCategoryName)
                        </td>
                        <td style="text-align: center">
                            @if (item.Applyed.GetValueOrDefault())
                            {
                                <a href="javacript:void(0)" data-id="@item.UtilitiesDetaiId" title="Cho phép" class="img-applyed"><i class="glyphicon glyphicon-ok-sign" style="color:green"></i>  </a>
                            }
                            else
                            {
                                <a href="javacript:void(0)" data-id="@item.UtilitiesDetaiId" title="Không được phép" class="img-applyed"><i class="glyphicon glyphicon-ok-sign" style="color:darkgray"></i>  </a>
                            }
                        </td>
                        <td>
                            @if (item.IsDeleted.GetValueOrDefault())
                            {
                                <a href="javacript:void(0)" data-id="@item.UtilitiesDetaiId" class="txt-isdeleted">Đang bị xóa</a>
                            }
                            else
                            {
                                <a href="javacript:void(0)" data-id="@item.UtilitiesDetaiId" class="txt-isdeleted">Đang kích hoạt</a>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = @item.UtilitiesDetaiId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Details", "Details", new { id = @item.UtilitiesDetaiId }, new { @class = "btn btn-info" })
                            <a href="javascript:void(0)" class="btn btn-danger btn-delete" data-id="@item.UtilitiesDetaiId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->