@model IMIC.BUSINESSOBJECTS.EntityObject.Banner_Object

@{
    ViewBag.Title = "Cập Nhật Các Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .file-box {
        display: none;
        width: 100%;
    }
</style>

<div style="padding-bottom:20px; width:100%">
    <div class="portlet light">
        <div class="portlet-body" style="padding-top:0px">
            @using (Html.BeginForm("Banner_Update", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.HiddenFor(m => m.BannerID)          
              
  
                <div class="form-group">
                    <h4>&nbsp;Cập Nhật Các Banner:</h4>                   
                </div>

                <div class="form-group">
                    <h4>&nbsp;Tên Banner:</h4>
                    @Html.TextBoxFor(m => m.BannerName, new { @type = "text", @class = "form-control", id = "BannerName" })
                </div>    
                <h5 style="color:red; font-weight:bold; display:none" class="name_warning">Tên Banner không được phép trống.</h5>

                <div class="form-group">
                    <h4>&nbsp;Link:</h4>
                    @Html.TextBoxFor(m => m.Link, new { @type = "text", @class = "form-control", id = "Link" })
                </div>

                if (Model.ImageFlag == true)
                {
                    @Html.HiddenFor(m => m.Image)
                    <div class="form-group">

                        <label style="width:100%">Ảnh đại diện bài viết</label>

                        <input type="checkbox" name="localfile" value="1" checked class="form-control" />@Html.Raw("Chọn ảnh từ máy tính")
                        <div class="file-box" style="display:block">
                            <input type="file" name="Avatar" id="ava">
                        </div>
                        <input name="Image" type="text" class="form-control" style="display:none;margin-top:10px" placeholder="Dán link ảnh đại diện vào đây" value="" />
                    </div>
                    <div style="margin-top:15px;">
                        <img style="width:200px;height:180px;" class="img-thumbnail rimage" src="~/Content/Galleries/Banner/@Model.Image" />
                    </div>
                }
                else
                {
                    <div class="form-group">

                        <label style="width:100%">Ảnh đại diện bài viết</label>

                        <input type="checkbox" name="localfile" value="1" class="form-control" />@Html.Raw("Chọn ảnh từ máy tính")
                        <div class="file-box">
                            <input type="file" name="Avatar" id="ava">
                        </div>
                        <input name="Image" type="text" class="form-control" style="margin-top:10px" placeholder="Dán link ảnh đại diện vào đây" value="@Model.Image" />
                    </div>
                    <div style="margin-top:15px;">
                        <img style="width:200px;height:180px;" class="img-thumbnail rimage" src="@Model.Image" />
                    </div>
                }

                <div class="form-group">
                    <h4>&nbsp;Vị trí:</h4>
                    @Html.TextBoxFor(m => m.Position, new { @type = "text", @class = "form-control", id = "Position" })
                </div>

                <div class="form-group">
                    <h4>&nbsp;Trạng thái:</h4>
                    @{
                           
                            List<SelectListItem> listItem = new List<SelectListItem>();
                            listItem.Add(new SelectListItem
                                 {
                                     Text = "Hiển thị",
                                     Value = "false",
                                 });
                            listItem.Add(new SelectListItem
                                 {
                                     Text = "Không hiển thị",
                                     Value = "true",

                                 });
                    }
                    @Html.DropDownListFor(m => m.IsDeleted, listItem, new { @class = "form-control" })
                </div>

                @*<div class="form-group">
                    <h4>&nbsp;Trạng thái:</h4>
                    @Html.DropDownListFor(model => model.IsDeleted, new List<SelectListItem>
                    {
                        new SelectListItem{Text = "Không",Value = "false"},
                        new SelectListItem{Text = "Có",Value = "true"}
                    }, new { @class = "form-control" })
                    @Html.TextBoxFor(m => m, new { @type = "text", @class = "form-control", id = "Position" })
                </div>*@

                <div style="padding-left:0px;width:100%;margin-top:30px;margin-bottom:20px">
                    <a class="btn btn-primary" id="btn-update">Cập nhật</a>
                    <a href="@Url.Action("Manage_Banner", "Banner")" class="btn btn-default" style="height:34px;width:86.75px">Đóng</a>
                </div>

                <!-- /.modal -->
                <div class="modal fade bs-modal-lg" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Thông báo xác nhận</h4>
                            </div>
                            <div class="modal-body">
                                Bạn có muốn sửa Banner: @Model.BannerName ?
                            </div>
                            <div class="modal-footer">
                                <button class="btn default" data-dismiss="modal">Hủy</button>
                                <button onclick="submit" class="btn blue">Xác nhận</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            }
        </div>
    </div>
</div>
@section script_footer{
    <script type="text/javascript" src="~/Areas/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Areas/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script>
       

       
        $('input[name=Avatar]').on('change', function (e) {

            readURL(this, '.rimage');

        });

        $('input[name=Image]').on('keydown', function (e) {
            if (e.which == 13) {
                e.preventDefault();

                $('.rimage').attr('src', $(this).val());
            }
        })
        $(document).on("keydown", "input", function (e) {
            if (e.which == 13) e.preventDefault();
        });
        $(document).on("click", ".delete-tag", function () {
            $(this).parent().remove();

        });
        $('input[name=localfile]').on('click', function () {
            if ($(this).is(':checked')) {
                $('.file-box').fadeIn('fast');
                $('input[name=Image]').fadeOut('fast');
            }
            else {
                $('.file-box').fadeOut('fast');
                $('input[name=Image]').fadeIn('fast');
            }
        })

    </script>

    <script>
        $("#btn-update").click(function () {
            var name = $('#BannerName').val();
            if (name == null || name.trim() == '') {
                $('.name_warning').show();
            }
            else {
                $("#confirm-modal").modal({ show: true });
                @*$.ajax({
                    url: '@Url.Action("Lesson_Update", "KnowledgeAdmin")',
                    data: { LessonDetailId: id },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (!data.result) {
                            alert(data.message);
                        } else {
                            $(sender).closest("tr").remove();
                            alert(data.message);
                        }
                    }
                });*@
            }
        });
    </script>

}



