@model IMIC.BUSINESSOBJECTS.EntityObject.DigitalCategory_Object

@{
    ViewBag.Title = "Cập nhật Thông số kĩ thuật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="portlet-body">
    @using (Html.BeginForm("Edit", "DigitalCategory", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Thông số kĩ thuật</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group hidden">
                @Html.Label("Mã thông số", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DigitalCategoryId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DigitalCategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Tên thông số", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DigitalCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DigitalCategoryName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cập nhật" class="btn btn-default green-haze" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Về trang Thông số kĩ thuật", "Index")
    </div>
</div>